@import "tailwindcss";

html,
body {
  @apply m-0 p-0;
  @apply w-full h-full min-h-screen;
}

#app {
  @apply flex flex-col min-h-screen w-full h-full;
}

#app .currency-converter-container {
  @apply flex flex-col;
  @apply max-w-3xl justify-center;
}

#app .currency-converter-container .panel {
}
